.btn-name {
  background-color: #535353;
}

.btn-name {
  background-color: #4e1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  cursor: pointer;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(241, 240, 240);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-template-areas: "header" "main" "footer";
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
  font-weight: bold;
}

h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.25em;
}

li,
a,
button {
  text-decoration: none;
  list-style: none;
}

header .navbar-toggler-icon {
  background-image: url(/images/threelines.png);
  background-position-x: -10px;
  background-position-y: -1px;
  padding: 20px;
}
header .navbar-brand {
  float: left;
  margin: 0%;
  padding-top: 0px;
  grid-area: header;
  font-size: 60px;
  color: white;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
header .navbar-brand:hover {
  -webkit-transform: translate(10%);
  transform: translate(10%);
}
header .navbar-nav {
  color: black;
}
header .nav-item {
  display: inline;
  justify-content: end;
  align-items: center;
  text-align: right;
  font-size: 17px;
  text-transform: uppercase;
}
header .navbar-toggler {
  float: right;
  width: 45px;
  height: 32px;
  margin: 0.4em 0, 7em;
  background-color: transparent;
  color: gray;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
}
header .navbar-toggler:hover {
  color: black;
}
header .cointainer-fluid {
  background-color: black;
}
header .navbar-expand-lg {
  justify-content: space-between;
}
header .nav-link {
  color: white;
}
header .nav-link:active {
  color: #792121;
}
header .nav-link:hover {
  color: #4e1a1a;
}
header .navbar-toggler {
  background-color: white;
}

.breadcrumb {
  padding-left: 2.5%;
  margin-top: 16px;
}
.breadcrumb .breadcrumb-item {
  list-style: none none;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}
.breadcrumb a {
  color: black;
  font-weight: bold;
}

section.hero {
  padding: 0;
}

.nuevos-productos {
  padding: 0px;
}
.nuevos-productos h2 {
  text-align: center;
  margin: 20px 0 30px 0;
  width: 100%;
  color: white;
  background-color: black;
  margin-top: -1px;
}
.nuevos-productos > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}
.nuevos-productos div div img {
  width: 300px;
  border-radius: 0;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.nuevos-productos div div img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.nuevos-productos div div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nuevos-productos div div div a {
  font-size: 15px;
  font-weight: bold;
  border-radius: 15px;
  background-color: black;
  color: white;
  align-content: center;
  text-transform: uppercase;
  padding: 3px;
}
.nuevos-productos div div div a:hover {
  background-color: #535353;
}

.boton-ver-mas a {
  font-size: 15px;
  font-weight: bold;
  border: 4px solid #535353;
  border-radius: 15px;
  background-color: black;
  color: white;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 3px;
  text-align: center;
}
.boton-ver-mas a:hover {
  background-color: #535353;
  color: black;
}

/* COMIENZO DEL SECTION SASTIFACCION */
.sastifaccion {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  text-align: center;
}
.sastifaccion div {
  width: 350px;
  height: auto;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
}
.sastifaccion div h3 {
  text-align: center;
}
.sastifaccion div a {
  font-size: 25px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 7px;
}
.sastifaccion a:hover {
  background-color: rgb(61, 61, 61);
  color: white;
}
.sastifaccion a:root {
  animation: bounce;
  animation-duration: 2s;
}

/* COMIENZO DE EL PARA ESTAR AL TANTO */
.estar-al-tanto {
  text-align: center;
  margin-bottom: 40px;
}
.estar-al-tanto img {
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.estar-al-tanto h3 {
  text-align: center;
  padding: 10px;
}
.estar-al-tanto #emaill {
  display: inline-block;
  box-sizing: border-box;
  height: 45px;
  padding: 0px;
  color: #525252;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #9e9e9e;
  border-radius: 3px;
  box-shadow: none;
}
.estar-al-tanto #enviarr {
  font-size: 15px;
  font-size: 15px;
  font-weight: bold;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background-color: black;
  color: white;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 3px;
}
.estar-al-tanto #enviarr:hover {
  background-color: rgb(61, 61, 61);
  color: white;
}

@media (max-width: 992px) {
  .somos {
    background-position: center;
  }
  .somos p {
    width: auto;
  }

  .nuevos-productos div div img {
    width: 250px;
  }

  .nuevos-productos div div {
    flex-wrap: wrap;
    width: 250px;
  }
  .nuevos-productos div div h3 {
    font-size: 25px;
  }
  .nuevos-productos div div h3 img {
    width: 250px;
  }
  .nuevos-productos div div h3 img div {
    font-size: 25px;
  }

  .sastifaccion div {
    width: 250px;
    margin: 20px;
  }
}
@media (max-width: 400.98px) {
  .nuevos-productos h2 {
    margin-top: -1px;
    font-size: 30px;
  }

  footer .logo3 h4 {
    font-size: 40px;
  }

  .estar-al-tanto {
    padding: 0px;
    margin: 20px;
  }
}
footer .row {
  bottom: 0;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: footer;
}
footer .row > * {
  width: auto;
}
footer .nuestrasredes div a img {
  width: 50px;
  height: 50px;
  transform: scale(0.8);
}

.logo3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo3 h4 {
  font-size: 80px;
  color: white;
}
.logo3 p {
  font-size: 13px;
  color: white;
}

nav ul {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
nav ul li a:active {
  color: #792121;
}
nav ul li a:hover {
  color: #4e1a1a;
}

.nuestrasredes {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 576px) {
  .nuestrasredes div {
    display: flex;
  }
}
.btn-name {
  background-color: #535353;
}

.btn-name {
  background-color: #4e1a1a;
}

.somos {
  background-image: url(../images/portada-quienes-somos.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}
.somos:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  opacity: 1;
}
.somos p {
  position: relative;
  font-size: 25px;
  color: white;
  width: 30%;
  line-height: 40px;
  padding: 20px;
}

.parrafo-s-n {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: rgb(65, 28, 28);
}
.parrafo-s-n .quienes-somos p {
  font-size: 21px;
  width: 100%;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  color: white;
}

.parrafo-s-n2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.parrafo-s-n2 .verso {
  font-size: 21px;
  width: 100%;
  padding: 0 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  cursor: pointer;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(241, 240, 240);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-template-areas: "header" "main" "footer";
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
  font-weight: bold;
}

h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.25em;
}

li,
a,
button {
  text-decoration: none;
  list-style: none;
}

.btn-name {
  background-color: #535353;
}

.btn-name {
  background-color: #4e1a1a;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-transform: uppercase;
}

.formulario {
  font-size: 20px;
}
.formulario #deje-consulta {
  width: 450px;
  height: 300px;
  font-size: 20px;
}
.formulario #enviar,
.formulario #limpiar {
  font-size: 15px;
  font-size: 15px;
  font-weight: bold;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  background-color: black;
  color: white;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 3px;
}
.formulario #enviar:hover,
.formulario #limpiar:hover {
  background-color: rgb(61, 61, 61);
  color: white;
}

@media (max-width: 992px) {
  main h2 {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  main h2 {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  main h2 {
    font-size: 20px;
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  cursor: pointer;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgb(241, 240, 240);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-template-areas: "header" "main" "footer";
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
  font-weight: bold;
}

h3 {
  font-size: 2.5em;
}

p {
  font-size: 1.25em;
}

li,
a,
button {
  text-decoration: none;
  list-style: none;
}

.btn-name {
  background-color: #535353;
}

.btn-name {
  background-color: #4e1a1a;
}

.locales-h2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.nuestros-locales {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  align-items: center;
}
.nuestros-locales div {
  width: 450px;
}
.nuestros-locales div div {
  padding: 20px;
}
.nuestros-locales div div a {
  font-size: 13px;
  font-weight: bold;
  border-radius: 15px;
  background-color: black;
  color: white;
  align-content: center;
  text-transform: uppercase;
  padding: 3px 3px;
}
.nuestros-locales div div a:hover {
  background-color: #535353;
}

@media (max-width: 991.98px) {
  .locales-h2 {
    font-size: 40px;
  }

  .nuestros-locales div {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .locales-h2 {
    font-size: 27px;
  }

  .nuestros-locales {
    display: inline;
    padding: 20px;
  }
}
.btn-name {
  background-color: #535353;
}

.btn-name {
  background-color: #4e1a1a;
}

.tit-productos h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  -webkit-transition: 3s ease-in;
  transition: 3s ease-in;
  font-weight: bold;
}

.main1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main1 img {
  width: 380px;
}
.main1 a {
  font-size: 13px;
  font-weight: bold;
  border-radius: 15px;
  background-color: black;
  color: white;
  align-content: center;
  text-transform: uppercase;
  padding: 3px 3px;
}
.main1 div {
  margin-top: 20px;
}
.main1 a:hover {
  background-color: #535353;
}
.main1 .caract-prod {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 991.98px) {
  .main1 img {
    width: 330px;
  }
}
@media (max-width: 768px) {
  .main1 div {
    width: 270px;
  }
  .main1 h3 {
    font-size: 40px;
  }
  .main1 img {
    width: 100%;
    margin-bottom: 20px;
  }
  .main1 .tit-productos {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .tit-productos h2 {
    font-size: 25px;
    width: 100%;
  }
  .tit-productos img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .main1 h3 {
    font-size: 25px;
  }
  .main1 .caract-prod {
    margin-top: 0px;
  }
}

/*# sourceMappingURL=stylesass.css.map */
