/* COMIENZO CARACTERISTICAS GENERALES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    cursor: pointer;

}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(241, 240, 240);
    height: 100vh;
}

h1 {
    font-size: 3.5em;

}

h2 {
    font-size: 2.7em;
    font-weight: bold;

}

h3 {
    font-size: 2.5em;
}

p {
    font-size: 1.25em;
}

li,
a,
button {
    text-decoration: none;
    list-style: none;
}

/* COMIENZO DEL HEADER */
header {
    background-color: black;
    margin: 0%;
    padding-top: 0px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

header .logo {
    display: flex;
    margin-top: 20px;
    padding: 20px 40px;
    font-weight: bold;
    color: white;
    font-size: 2.5em;
    margin-left: 40px;

}


.barranavegacion li {
    display: inline-block;
    margin: 0 35px;
    padding-top: 55px;
    color: white;
    text-transform: uppercase;
}

.barranavegacion a {
    color: white;
}

/* COMIENZO DEL HERO */
section.hero {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 73vh;
    color: white;
    background-image: url(../images/portada.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
}

section.hero a {
    display: flex;
    padding: 10px 20px;
    margin: 250px;
    font-size: 2em;
    font-weight: bold;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: black;
    color: white;
}

section.hero a:hover {
    background-color: rgb(204, 200, 200);
    color: black;
}

/* COMIENZO DE SECTION NUEVOS PRODUCTOS */
.nuevos-productos1 {
    height: 680px;
}

.caract-prod {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.nuevosProd-h2 {
    display: flex;
    padding: 0 20px;
    justify-content: center;
    margin: 80px;
}


.container-productos-1 img {
    width: 350px;
}


.nuevos-productos1 a {
    font-size: 15px;
    font-weight: bold;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: black;
    color: white;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 3px;
}

.nuevos-productos1 a:hover {
    background-color: rgb(204, 200, 200);
    color: black;
}

.container-productos-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;
    padding: 2px 16px;
}

.img-container1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.img-container1-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img-container1-2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.nuevos-productos1 {
    height: 680px;
    margin-bottom: 40px;
}

.nuevos-productos2 {
    height: 680px;
}

.container-productos-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;
    padding: 2px 16px;
}

.container-productos-2 img {
    width: 350px;
}

.nuevos-productos2 a {
    font-size: 15px;
    font-weight: bold;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: black;
    color: white;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 3px;
}

.nuevos-productos2 a:hover {
    background-color: rgb(204, 200, 200);
    color: black;
}


.container-productos-2 img {
    width: 350px;
}


.img-container2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.img-container1-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img-container1-2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.boton-ver-mas a {
    font-size: 15px;
    font-weight: bold;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: black;
    color: white;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 3px;
    /* margin-left: 200px;  */
    text-align: center;
}

.boton-ver-mas a:hover {
    background-color: rgb(204, 200, 200);
    color: black;
}


/* COMIENZO DEL SECTION SASTIFACCION */
.sastifaccion {
    margin: 140px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sastifaccion h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.sastifaccion a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;

}

.sastifaccion p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sastifaccion a {
    font-size: 25px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 7px;

}

.sastifaccion a:hover {
    background-color: rgb(61, 61, 61);
    color: white;
}

/* COMIENZO DE EL PARA ESTAR AL TANTO */

.estar-al-tanto {
    text-align: center;
    margin: 80px;
    padding: 40px;
}

.estar-al-tanto img {
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.estar-al-tanto h3 {
    text-align: center;
    padding: 10px;
}

.estar-al-tanto h4 {}

.estar-al-tanto #emaill {
    display: inline-block;
    box-sizing: border-box;
    /* width: 40%; */
    height: 45px;
    padding: .25rem .75rem;
    color: #525252;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #9e9e9e;
    border-radius: 3px;
    box-shadow: none;
}

.estar-al-tanto #enviarr {
    font-size: 15px;
    font-size: 15px;
    font-weight: bold;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: black;
    color: white;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 3px;
}

.estar-al-tanto #enviarr:hover {
    background-color: rgb(61, 61, 61);
    color: white;
}


/* COMIENZO DEL FOOTER */

.footer {

    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .nuestrasredes div a img {
    width: 50px;
    height: 50px;
}

.logo3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.logo3 h4 {
    font-size: 80px;
    color: white;
}

.logo3 p {
    font-size: 13px;
    color: white;
}

.footer nav ul {
    list-style: none;
}

.footer nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.footer .nuestrasredes {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario {
    font-size: 20px;
}

.formulario #deje-consulta {
    width: 450px;
    height: 300px;
    font-size: 20px;
}

.formulario #enviar {
    font-size: 15px;
    font-size: 15px;
    font-weight: bold;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: black;
    color: white;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 3px;
}

.formulario #enviar:hover {
    background-color: rgb(61, 61, 61);
    color: white;
}

.formulario #limpiar {
    font-size: 15px;
    font-size: 15px;
    font-weight: bold;
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-color: black;
    color: white;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 3px;
}

.formulario #limpiar:hover {
    background-color: rgb(61, 61, 61);
    color: white;
}

.nuestros-locales h4{
    margin: 40px;
}

.nuestros-locales .map{
    margin: 40px 40px;
}


@media (max-width:760px){

}