@import "../base/variables";

.tit-productos h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    -webkit-transition: 3s ease-in;
    transition: 3s ease-in;
    font-weight: bold;
}

.main1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    img {
        width: 380px;
    }

    a {
        font-size: 13px;
        font-weight: bold;
        border-radius: 15px;
        background-color: $bg-color;
        color: white;
        align-content: center;
        text-transform: uppercase;
        padding: 3px 3px;
    }

    div {
        margin-top: 20px;
    }

    a:hover {
        background-color: $btn-fondo;
    }

    .caract-prod {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 991.98px) {
    .main1 {
        img {
            width: 330px;
        }
    }



}

@media (max-width: 768px) {
    .main1 {
        div {
            width: 270px;
        }

        h3 {
            font-size: 30px;
        }

        img {
            width: 100%;
            margin-bottom: 20px;
        }

        .tit-productos {
            font-size: 12px;
        }
    }
}

@media (max-width: 576px) {
    .tit-productos{
        font-size: 8px;
        width: 100%;
        img {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }
}